<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AutomationSuite" parallel="tests" thread-count="1">

    <listeners>
        <listener class-name="com.automationCompany.automation.utils.TestListener"/>
    </listeners>

    <test name="Heroku">
        <classes>
            <class name="com.automationCompany.automation.tests.heroku.HerokuTests"/>
        </classes>
    </test>

    <test name="SauceDemo">
        <classes>
            <class name="com.automationCompany.automation.tests.saucedemo.SauceDemoTests"/>
        </classes>
    </test>

</suite>