<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AutomationSuite">

    <listeners>
        <listener class-name="com.automationCompany.automation.utils.TestListener"/>
    </listeners>


    <test name="All Tests">
        <packages>
            <package name="com.automationCompany.automation.tests"/>
        </packages>
    </test>


</suite>